<main>
    <div class="container body-description span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/product/create}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>New Product</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_title">Product Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_title" placeholder="Product Title"
                                   name="title"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_price">Price</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="1" step="any" class="form-control" id="product_price" placeholder="Price"
                                   name="price"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_photo">Photo</label>
                        <div class="col-sm-4 ">
                            <input type="file"  class="form-control" id="product_photo" name="photo"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_description">Description</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="product_description" name="description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
