<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/product/edit/{id}(id=${product.id})}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Edit Product</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_title">Product Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="product_title" placeholder="Post Title" name="title" th:value="${product.title}" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_price">Price</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="0.01" step="0.01" class="form-control" id="product_price" placeholder="Price" name="price" th:value="${product.price}" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_count">Count</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="1" step="1" class="form-control" id="product_count" placeholder="Count" name="currentCount" th:value="${product.currentCount}" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_photo">Photo</label>
                        <div class="col-sm-4 ">
                            <input type="file"  class="form-control" id="product_photo" name="photo" value="${product.photo}" multiple accept="image/*,image/jpeg"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_description">Description</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="product_description" name="description" th:field="${product.description}"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_companyName">Company</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="product_companyName" name="userId">
                                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.companyName}"  th:selected="${user.id == product.author.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="product_category">Category</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="product_category" name="categoryId">
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"  th:selected="${category.id == product.category.id}"></option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/product/{id}(id = ${product.id})}">Cancel</a>
                            <input type="submit" class="btn btn-success" value="Edit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
